* {
    margin: 5px;
    padding: 5px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insideContent {
    flex-direction: row;
}

.dataContent {
    align-self: center;
}

input {
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
}